page-socialsharing {
    .icon{
        text-align: center;
            width: 70px;
            margin-right: 10px;
            margin-left: 10px;
            padding-top: 10px;
    }

    .scroll-content{
        overflow-y: hidden;
    }
}
