<ion-header>
  <!-- <ion-navbar>
  
      <ion-title Museo>
  
        <table style=" width: 100%; ">
          <tr>
            <td>Notification</td>
          </tr>
          <tr>
            <td style="font-size: 10px;opacity: .7;" class="Montserrat">
              <i>Share your freedom</i>
            </td>
          </tr>
        </table>
  
      </ion-title>
    </ion-navbar> -->
  <ion-navbar style="padding-left: 0;padding-right: 0;padding-bottom: 0px;">
    <ion-buttons start style="order: 0;" style="width: 100%;margin: 0px;">
      <div style="width: 100%;position: relative;">
        <div class="header2" style="margin: auto;width: 100%;position: absolute;z-index: 0;top: 0px;bottom: 0px;height: 32px;">
          <!-- <button ion-button icon-only style="" class="" (click)="scrollTopFN()">
            <img style="position: relative;width: 20px;" src="./assets/icon/logotree.svg" alt="">
          </button>
          <button ion-button icon-only style="" class="" (click)="scrollTopFN()">
            <div style="position: relative;color: #000;font-weight: bold;font-size: 14px;">Adventure Earth
            </div>
          </button> -->
          <button ion-button icon-only style="float:right;" class="" (click)="presentPopover($event)">
            <img style="position: relative;margin-right: 10px;" src="./assets/icon/menu-icon.svg" alt="">
          </button>
          <button ion-button icon-only style="float:right;" class="" (click)="NextPages('ProfilePage',gd.userProfile)">
            <img style="position: relative;margin-right: 10px;height: 30px;width: 30px;" id="img_profile" class="imgpro" [src]="gd.userProfile.user_path_img"
            />
          </button>
        </div>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="Museo">
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="1000">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <!-- <div class="texttitle">
          <span>New</span>
        </div> -->
    <ion-list *ngFor="let data of getData" style="margin-bottom: 0;" [ngClass]="data.noti_read == '0' ? 'noRead' : ''">
      <ion-item (click)="nextPage(data)">
        <ion-avatar item-start>
          <div class="avataborder">
            <div class="avatabackground">
              <img [src]="data.user.user_path_img">
            </div>
          </div>
        </ion-avatar>
        <h2 style="font-weight: 500;">
          <span [innerHTML]="data.user.user_firstname"></span>
          <span [innerHTML]="data.user.user_lastname"></span>
        </h2>
        <p class="detail">
          <span [innerHTML]="data.detail"></span>
          <span *ngIf="data.post.photo_caption">"
            <span [innerHTML]="data.post.photo_caption"></span> "</span>
        </p>
        <p class="hour">{{data.time}} ago</p>
      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll threshold="500px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<div id="footer" style="z-index: 100;"></div>