page-modal-profile {
    .profileImage {
        border: 2px solid #fff;
        border-radius: 50%;
        width: 100%;
        padding-top: 100%;
        margin-top: -60px;
        background: #f77;
    }

    .profileHeader {
        background: #559988;
        height: 160px;
    }

    .detail {
        background: #fff;
        min-height: 230px;
    }

    .follower {
        border: 1px solid;
        height: 25px;
        width: 120px;
        float: right;
        margin-right: 25px;
        margin-top: 15px;
        border-radius: 25px;
    }

    .frameFollow {
        text-align: right;
    }

    .btnFollow {}

    .fullname {
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 5px;
    }

    .fromname {
        color: #0045a0;
        font-weight: bold;
    }
    .gridFrame{
        text-align: center;
    }
    .valueFollow{
        font-size: 14px;
    }
    .fontFollow{
        font-size: 10px;
        font-weight: bold;
    }
    .ion-ios-chatbubbles:before {
        width: unset;
        height: unset;
    }
    .btnView{
        background: linear-gradient(180deg, rgba(232,32,100,1) 0%, rgba(233,43,107,1) 17%, rgba(234,58,118,1) 35%, rgba(220, 69, 131, 1) 63%, rgba(197, 76, 145, 1) 100%) !important;
    }
}